#home {
    display: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    background-color: #ddd;
    color: black;
    float: left;
}
#home:hover {
    background-color: #555;
    color: white;
}
body, form {
    display: flex;
    flex-direction: column;
}
body {
    align-items: center;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
form {
    align-items: left;
    width: 25%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 0px;
    background-color: white;
    border-radius: 10px;
    border-width: 4px;
    border-color: 2px;
    border-style: solid;
}
select, input {
    font-size: 18pt;
}
select {
    margin-top: 10px;
    margin-right: 5px;
    width: 50%;
}
label {
    font-size: 24pt;
    font-weight: bold;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
}