<!DOCTYPE html>
<html>
    <head>
        <title>Pop Quiz</title>
        <link rel="stylesheet" type="text/css" href="static/popquiz/form.css">
    </head>
    <body>
        <form class="form">
            <div class="question multi">
                <p>Which flavor of ice cream would you buy?</p>
                <p><input type="radio" name="icecream" value="pickle" required checked>Pickle</p>
                <p><input type="radio" name="icecream" value="buffalosauce" required>Buffalo Sauce</p>
                <p><input type="radio" name="icecream" value="mayo" required>Mayo</p>
                <input type="hidden" name="quiz" value="3">
            </div>
            <input type="submit" class="submit">
        </form>
        <script>
            const form = document.getElementById('quiz');
            form.addEventListener('keypress', function(e) {
              if (e.keyCode === 13) {
                e.preventDefault();
              }
            });
          </script>
    </body>
</html>