<!DOCTYPE html>
<html>
    <head>
        <title>Pop Quiz</title>
        <link rel="stylesheet" type="text/css" href="static/popquiz/form.css">
    </head>
    <body>
        <div class="title">
            <h1>What kind of driver are you?</h1>  
        </div>
    <form class="form">     
        <div class="question">
            <p>Name:</p>
            <input type="text" name="name" class="textbox" required>
        </div>
        <div class="question multi"> 
            <p>What is your favorite type of bread?</p>
            <p><input type="radio" name="bread" value="white" required checked>White</p>
            <p><input type="radio" name="bread" value="sourdough" required>Sourdough</p>
            <p><input type="radio" name="bread" value="wholegrain" required>Whole Grain</p>
            <p><input type="radio" name="bread" value="french" required>French</p>
            <input type="hidden" name="quiz" value="1">
        </div>
        <div class="buttons">
            <input type="submit" class="submit">
            <a class="submit home" href="/home">Home</a>
        </div>
    </form>
    <script>
        const form = document.getElementById('quiz');
        form.addEventListener('keypress', function(e) {
            if (e.keyCode === 13) {
            e.preventDefault();
            }
        });
    </script>
    </body>
</html>